@font-face {
    font-family: 'SFProDisplayBold';
    src: url('fonts/SFProDisplayBold.woff2') format('woff2'),
         url('fonts/SFProDisplayBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SFProDisplayBold', sans-serif;
}
